/*noinspection CssInvalidPropertyValue*/
.Analysis {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    text-align: center;
    overflow: hidden;
    width: -webkit-fill-available;
}

.Overview {
    text-align: center;
    width: 100%;
}

.singleToAllChart{
    width: 100%;
}

.container {
    width: -webkit-fill-available;
}